/ejercicio_1/nbproject/private/
/ejercicio_1/build/
/ejercicio_2/nbproject/private/
/ejercicio_2/build/
/ejercicio_3/nbproject/private/
/ejercicio_3/build/
/ejercicio_4/nbproject/private/
/ejercicio_4/build/
/ejercicio_5/nbproject/private/
/ejercicio_5/build/
/ejercicio_6/nbproject/private/
/prueba/nbproject/private/
/prueba/build/
/ejercicio_6/build/
/ejercicio_7/nbproject/private/
/ejercicio_7/build/